<html>
<head>
    <title>{% block title %} Welcome to this amazing page {% endblock %}</title>
</head>
<header>
    {% block extra_headers %}{% endblock %}
</header>
<body>
    <a href="{% url 'home' %}"> Home </a><br>
    <a href="{% url 'city_list' %}"> Cities </a><br>
    <a href="{% url 'shop_list' %}"> Shops </a><br>
    <a href="{% url 'create_city' %}"> Register new city </a><br>
    <a href="{% url 'create_shop' %}"> Register new shop </a><br>
    <a href="{% url 'weekly_import_yearview' %}"> Shop weekly sale details </a><br>
    <a href="{% url 'weekly_views' %}"> Shop weekly sale details all </a><br>
    <a href="{% url 'upload_data' %}"> Sale data upload </a><br>
    <a href="{% url 'summary_report' %}"> Summary report </a><br>
    {% block body %}{% endblock %}
</body>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
</html>
