{% extends "shops/base.html" %}
{% block title %}Summary Report Page{% endblock %}

{% block body %}
    <h1>Income Summary Report</h1>
    <table cellspacing=10>
        <tr>
            <th>Date</th>
            {% for fruit in all_fruits %}
                <th>{{ fruit.name }}</th>
            {% endfor %}
        </tr>
        {% for date, data in summary_cleaned.items %}
            <tr>
                <th>{{ date }}</th>
                {% for income in data.values %}
                    <td> {{ income|floatformat:2 }} </td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table> 
{% endblock %}

