<html>
    <label>Select Day<label>
        <script src="https://unpkg.com/htmx.org@1.8.4" crossorigin="anonymous"></script>
        <select name="chosen_week"
            hx-get={% url 'show_shops' year month %}
            hx-trigger="change"
            hx-target="#shops"
            hx-swap="innterHTML"
            hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
        >
            <option>----</option>
            {% for week in weeks %}
                <option value={{ week.day }}>{{ week|date:'d' }}</option>
            {% endfor %}
        </select>   
</html>
